<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
	<h2>Welcome {{ user.get("name") }} ({{ user.get("preferred_username") }})!</h2>
    <h3>You have been pwned by merlos :))</h3>
    ¯\_(ツ)_/¯
    <br /> 
    <br /> 

    <!--
    {% if config.get("ENDPOINT") %}
    <a href='/graphcall'>Test Graph API</a>
    <br /> 
    <br /> 
    {% endif %}
    --> 

    {% if config.get("B2C_PROFILE_AUTHORITY") %}
    <a href='{{_build_auth_url(authority=config["B2C_PROFILE_AUTHORITY"])}}'>Edit Profile</a>
    <br /> 
    <br /> 
    {% endif %}

    <a href="/logout">Logout</a>
    <hr>
    <footer style="text-align: right">Powered by MSAL Python {{ version }}</footer>
</body>
</html>

